*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

#footer {
  margin-block-start: var(--pf-v6-c-popover__footer--MarginBlockStart, var(--pf-t--global--spacer--md, 1rem));
}
