*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
  --pf-v6-c-panel__footer--PaddingBlockStart: var(--pf-t--global--spacer--sm, 0.5rem);
  --pf-v6-c-panel__footer--PaddingInlineEnd: var(--pf-t--global--spacer--lg, 1.5rem);
  --pf-v6-c-panel__footer--PaddingBlockEnd: var(--pf-t--global--spacer--sm, 0.5rem);
  --pf-v6-c-panel__footer--PaddingInlineStart: var(--pf-t--global--spacer--lg, 1.5rem);
  --pf-v6-c-panel__footer--BoxShadow: none;
  --pf-v6-c-panel__footer--BorderColor: transparent;
  --pf-v6-c-panel__footer--BorderWidth: 0;

  padding-block-start: var(--pf-v6-c-panel__footer--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-panel__footer--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-panel__footer--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-panel__footer--PaddingInlineEnd);
  border-block-start: var(--pf-v6-c-panel__footer--BorderWidth) solid var(--pf-v6-c-panel__footer--BorderColor);
  box-shadow: var(--pf-v6-c-panel__footer--BoxShadow);
}
