*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;

  /* Public CSS API - All overrideable from outside */
  --pf-v6-c-panel__main--MaxHeight: none;
  --pf-v6-c-panel__main--Overflow: visible;
}

#container {
  /* Consume public API from :host */
  max-height: var(--pf-v6-c-panel__main--MaxHeight);
  overflow: var(--pf-v6-c-panel__main--Overflow);
}
