# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{js,ts,mjs,mts,cjs,cts,html,css,json}]
indent_style = space
indent_size = 2

# Markdown files (preserve trailing spaces for line breaks)
[*.md]
trim_trailing_whitespace = false
