<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}PatternFly Elements v6{% endblock %}</title>

  {% include 'partials/head-meta.liquid' %}
  {% block styles %}{% endblock %}
</head>
<body>
  {% block navigation %}{% endblock %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>

