*,
*::before,
*::after {
  box-sizing: border-box;
}

pre {
  padding: 0;
  margin: 0;
}

:host {
  display: block;
}

#container {
  padding-block-start: var(--pf-v6-c-clipboard-copy__expandable-content--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-clipboard-copy__expandable-content--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-clipboard-copy__expandable-content--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-clipboard-copy__expandable-content--PaddingInlineEnd);
  margin-block-start: var(--pf-v6-c-clipboard-copy__expandable-content--MarginBlockStart);
  overflow-wrap: break-word;
  background-color: var(--pf-v6-c-clipboard-copy__expandable-content--BackgroundColor);
  background-clip: padding-box;
  border: solid var(--pf-v6-c-clipboard-copy__expandable-content--BorderColor);
  border-block-start-width: var(--pf-v6-c-clipboard-copy__expandable-content--BorderBlockStartWidth);
  border-block-end-width: var(--pf-v6-c-clipboard-copy__expandable-content--BorderBlockEndWidth);
  border-inline-start-width: var(--pf-v6-c-clipboard-copy__expandable-content--BorderInlineStartWidth);
  border-inline-end-width: var(--pf-v6-c-clipboard-copy__expandable-content--BorderInlineEndWidth);
  border-radius: var(--pf-v6-c-clipboard-copy__expandable-content--BorderRadius);
  box-shadow: var(--pf-v6-c-clipboard-copy__expandable-content--BoxShadow);
  outline-offset: var(--pf-v6-c-clipboard-copy__expandable-content--OutlineOffset);

  & pre {
    white-space: pre-wrap;
  }
}
