*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --_c-card-title-not-last-child-padding-block-end:
    var(
      --pf-v6-c-card__title--not--last-child--PaddingBlockEnd,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-child-padding-inline-start: var(--pf-v6-c-card--child--PaddingInlineStart, var(--pf-t--global--spacer--lg));
  --_c-card-child-padding-inline-end: var(--pf-v6-c-card--child--PaddingInlineEnd, var(--pf-t--global--spacer--lg));
  --_c-card-header-toggle-margin-block-start:
    var(
      --pf-v6-c-card__header-toggle--MarginBlockStart,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-toggle-margin-inline-end:
    var(
      --pf-v6-c-card__header-toggle--MarginInlineEnd,
      var(--pf-t--global--spacer--gap--text-to-element--default)
    );
  --_c-card-header-toggle-margin-block-end:
    var(
      --pf-v6-c-card__header-toggle--MarginBlockEnd,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-toggle-margin-inline-start:
    var(
      --pf-v6-c-card__header-toggle--MarginInlineStart,
      calc(var(--pf-t--global--spacer--action--horizontal--plain--default) * -1)
    );
  --_c-card-header-toggle-icon-transition-timing-function:
    var(
      --pf-v6-c-card__header-toggle-icon--TransitionTimingFunction,
      var(--pf-t--global--motion--timing-function--default)
    );
  --_c-card-header-toggle-icon-transition-duration:
    var(
      --pf-v6-c-card__header-toggle-icon--TransitionDuration,
      var(--pf-t--global--motion--duration--icon--default)
    );
  --_c-card-header-toggle-icon-rotate: var(--pf-v6-c-card--m-expanded__header-toggle-icon--Rotate, 90deg);
  --_c-card-actions-padding-inline-start:
    var(
      --pf-v6-c-card__actions--PaddingInlineStart,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-actions-gap: var(--pf-v6-c-card__actions--Gap, var(--pf-t--global--spacer--gap--action-to-action--default));
  --_c-card-actions-margin-block-start:
    var(
      --pf-v6-c-card__actions--MarginBlockStart,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-actions-margin-block-end:
    var(
      --pf-v6-c-card__actions--MarginBlockEnd,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-wrap-row-gap: var(--pf-v6-c-card__header--m-wrap--RowGap, var(--pf-t--global--spacer--sm));
  --_c-card-header-wrap-column-gap: var(--pf-v6-c-card__header--m-wrap--ColumnGap, var(--pf-t--global--spacer--md));

  display: contents;
}

.header-toggle-icon {
  display: inline-block;
  transition-timing-function: var(--_c-card-header-toggle-icon-transition-timing-function);
  transition-duration: var(--_c-card-header-toggle-icon-transition-duration);
  transition-property: transform;

  &:dir(rtl) {
    scale: -1 1;
  }
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block:
    var(--_c-card-c-divider-child-padding-block-start, var(--_c-card-first-child-padding-block-start, 0))
    var(--_c-card-title-not-last-child-padding-block-end);
  padding-inline: var(--_c-card-child-padding-inline-start) var(--_c-card-child-padding-inline-end);

  & ::slotted(pfv6-card-title) {
    --pf-v6-c-card--first-child--PaddingBlockStart: 0;
    --pf-v6-c-card__title--not--last-child--PaddingBlockEnd: 0;
    --pf-v6-c-card--child--PaddingInlineStart: 0;
    --pf-v6-c-card--child--PaddingInlineEnd: 0;
  }

  &.expanded {
    & .header-toggle-icon {
      transform: rotate(var(--_c-card-header-toggle-icon-rotate));
    }
  }

  & .header-toggle {
    align-self: flex-start;
    margin-block: var(--_c-card-header-toggle-margin-block-start) var(--_c-card-header-toggle-margin-block-end);
    margin-inline: var(--_c-card-header-toggle-margin-inline-start) var(--_c-card-header-toggle-margin-inline-end);
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }

  &.toggle-right {
    --_c-card-header-toggle-margin-inline-end:
      calc(
        var(--pf-t--global--spacer--action--horizontal--plain--default, 0.5rem) * -1
      );
    --_c-card-header-toggle-margin-inline-start: var(--pf-t--global--spacer--gap--text-to-element--default, 0.5rem);

    & .header-toggle {
      order: 2;
    }
  }

  & #actions {
    display: flex;
    gap: var(--_c-card-actions-gap);
    align-items: center;
    align-self: flex-start;
    order: 1;
    padding-inline-start: var(--_c-card-actions-padding-inline-start);
    margin-block: var(--_c-card-actions-margin-block-start) var(--_c-card-actions-margin-block-end);
    margin-inline-start: auto;

    &.no-offset {
      --_c-card-actions-margin-block-start: 0;
      --_c-card-actions-margin-block-end: 0;
    }
  }

  &.wrap {
    --_c-card-actions-padding-inline-start: 0;

    gap: var(--_c-card-header-wrap-row-gap) var(--_c-card-header-wrap-column-gap);
    flex-wrap: wrap;

    & #actions {
      flex-wrap: wrap;
      row-gap: var(--_c-card-header-wrap-row-gap);
      margin-inline-start: 0;

      & + * {
        margin-inline-end: auto;
      }
    }
  }

  & .header-main {
    flex-grow: 1;
  }

  & #selectable-actions {
    & pfv6-checkbox {
      --_grid-gap: 0;
    }

    &.hidden {
      display: none;
    }
  }

  & #clickable-action {
    position: absolute;
    inset: 0;
    justify-self: auto;
    cursor: pointer;
    background: none;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: inherit;
  }

  & .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
