:host {
  --_c-card-c-first-child-padding-block-start:
    var(
      --pf-v6-c-card--first-child--PaddingBlockStart,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-child-padding-block-end:
    var(
      --pf-v6-c-card--child--PaddingBlockEnd,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-child-padding-inline-start:
    var(
      --pf-v6-c-card--child--PaddingInlineStart,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-child-padding-inline-end:
    var(
      --pf-v6-c-card--child--PaddingInlineEnd,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-footer-font-size:
    var(
      --pf-v6-c-card__footer--FontSize,
      var(--pf-t--global--font--size--body--default)
    );
  --_c-card-c-footer-color:
    var(
      --pf-v6-c-card__footer--Color,
      var(--pf-t--global--text--color--subtle)
    );

  display: contents;
}

#footer {
  padding-block:
    var(--_c-card-c-divider-child-padding-block-start, var(--_c-card-first-child-padding-block-start, 0))
    var(--_c-card-c-child-padding-block-end);
  padding-inline:
    var(--_c-card-c-child-padding-inline-start)
    var(--_c-card-c-child-padding-inline-end);
  font-size: var(--_c-card-c-footer-font-size);
  color: var(--_c-card-c-footer-color);
}
