*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --_c-card-background-color:
    var(
      --pf-v6-c-card--BackgroundColor,
      var(--pf-t--global--background--color--primary--default)
    );
  --_c-card-border-color: var(--pf-v6-c-card--BorderColor, var(--pf-t--global--border--color--default));
  --_c-card-border-style: var(--pf-v6-c-card--BorderStyle, solid);
  --_c-card-border-width: var(--pf-v6-c-card--BorderWidth, var(--pf-t--global--border--width--box--default));
  --_c-card-border-radius: var(--pf-v6-c-card--BorderRadius, var(--pf-t--global--border--radius--medium));
  --_c-card-child-padding-inline-end: var(--pf-v6-c-card--child--PaddingInlineEnd, var(--pf-t--global--spacer--lg));
  --_c-card-child-padding-block-end: var(--pf-v6-c-card--child--PaddingBlockEnd, var(--pf-t--global--spacer--lg));
  --_c-card-child-padding-inline-start: var(--pf-v6-c-card--child--PaddingInlineStart, var(--pf-t--global--spacer--lg));
  --_c-card-title-text-color: var(--pf-v6-c-card__title-text--Color, var(--pf-t--global--text--color--regular));
  --_c-card-title-text-font-family:
    var(
      --pf-v6-c-card__title-text--FontFamily,
      var(--pf-t--global--font--family--heading)
    );
  --_c-card-title-text-font-size:
    var(
      --pf-v6-c-card__title-text--FontSize,
      var(--pf-t--global--font--size--heading--xs)
    );
  --_c-card-title-text-font-weight:
    var(
      --pf-v6-c-card__title-text--FontWeight,
      var(--pf-t--global--font--weight--heading--default)
    );
  --_c-card-title-text-line-height:
    var(
      --pf-v6-c-card__title-text--LineHeight,
      var(--pf-t--global--font--line-height--heading)
    );
  --_c-card-body-font-size: var(--pf-v6-c-card__body--FontSize, var(--pf-t--global--font--size--body--default));
  --_c-card-body-color: var(--pf-v6-c-card__body--Color, var(--pf-t--global--text--color--regular));
  --_c-card-footer-font-size: var(--pf-v6-c-card__footer--FontSize, var(--pf-t--global--font--size--body--default));
  --_c-card-footer-color: var(--pf-v6-c-card__footer--Color, var(--pf-t--global--text--color--subtle));
  --_c-card-title-not-last-child-padding-block-end: var(--pf-v6-c-card__title--not--last-child--PaddingBlockEnd, 0);
  --_c-card-c-button-disabled-color:
    var(
      --pf-v6-c-card--c-button--disabled--Color,
      var(--pf-t--global--text--color--on-disabled)
    );
  --_c-card-actions-padding-inline-start:
    var(
      --pf-v6-c-card__actions--PaddingInlineStart,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-actions-gap: var(--pf-v6-c-card__actions--Gap, var(--pf-t--global--spacer--gap--action-to-action--default));
  --_c-card-actions-margin-block-start:
    var(
      --pf-v6-c-card__actions--MarginBlockStart,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-actions-margin-block-end:
    var(
      --pf-v6-c-card__actions--MarginBlockEnd,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-m-wrap-row-gap: var(--pf-v6-c-card__header--m-wrap--RowGap, var(--pf-t--global--spacer--sm));
  --_c-card-header-m-wrap-column-gap: var(--pf-v6-c-card__header--m-wrap--ColumnGap, var(--pf-t--global--spacer--md));
  --_c-card-header-toggle-margin-block-start:
    var(
      --pf-v6-c-card__header-toggle--MarginBlockStart,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-toggle-margin-inline-end:
    var(
      --pf-v6-c-card__header-toggle--MarginInlineEnd,
      var(--pf-t--global--spacer--gap--text-to-element--default)
    );
  --_c-card-header-toggle-margin-block-end:
    var(
      --pf-v6-c-card__header-toggle--MarginBlockEnd,
      calc(var(--pf-t--global--spacer--control--vertical--default) * -1)
    );
  --_c-card-header-toggle-margin-inline-start:
    var(
      --pf-v6-c-card__header-toggle--MarginInlineStart,
      calc(var(--pf-t--global--spacer--action--horizontal--plain--default) * -1)
    );
  --_c-card-header-toggle-icon-transition-timing-function:
    var(
      --pf-v6-c-card__header-toggle-icon--TransitionTimingFunction,
      var(--pf-t--global--motion--timing-function--default)
    );
  --_c-card-header-toggle-icon-transition-duration:
    var(
      --pf-v6-c-card__header-toggle-icon--TransitionDuration,
      var(--pf-t--global--motion--duration--icon--default)
    );
  --_c-card-m-expanded-header-toggle-icon-rotate: var(--pf-v6-c-card--m-expanded__header-toggle-icon--Rotate, 90deg);
  --_c-card-m-selectable-border-width:
    var(
      --pf-v6-c-card--m-selectable--BorderWidth,
      var(--pf-v6-c-card--BorderWidth, var(--pf-t--global--border--width--box--default))
    );
  --_c-card-m-clickable-m-current-border-color:
    var(
      --pf-v6-c-card--m-clickable--m-current--BorderColor,
      var(--pf-t--global--border--color--clicked)
    );
  --_c-card-m-clickable-m-current-border-width:
    var(
      --pf-v6-c-card--m-clickable--m-current--BorderWidth,
      var(--pf-t--global--border--width--box--clicked)
    );
  --_c-card-m-selectable-m-selected-border-color:
    var(
      --pf-v6-c-card--m-selectable--m-selected--BorderColor,
      var(--pf-t--global--border--color--clicked)
    );
  --_c-card-m-selectable-m-selected-border-width:
    var(
      --pf-v6-c-card--m-selectable--m-selected--BorderWidth,
      var(--pf-t--global--border--width--box--clicked)
    );
  --_c-card-m-selectable-hover-border-color:
    var(
      --pf-v6-c-card--m-selectable--hover--BorderColor,
      var(--pf-t--global--border--color--hover)
    );
  --_c-card-m-selectable-hover-border-width:
    var(
      --pf-v6-c-card--m-selectable--hover--BorderWidth,
      var(--pf-t--global--border--width--box--hover)
    );
  --_c-card-m-selectable-focus-border-color:
    var(
      --pf-v6-c-card--m-selectable--focus--BorderColor,
      var(--pf-t--global--border--color--hover)
    );
  --_c-card-m-selectable-focus-border-width:
    var(
      --pf-v6-c-card--m-selectable--focus--BorderWidth,
      var(--pf-t--global--border--width--box--hover)
    );
  --_c-card-m-selectable-m-selected-focus-border-color:
    var(
      --pf-v6-c-card--m-selectable--m-selected--focus--BorderColor,
      var(--pf-t--global--border--color--clicked)
    );
  --_c-card-m-selectable-m-selected-focus-border-width:
    var(
      --pf-v6-c-card--m-selectable--m-selected--focus--BorderWidth,
      var(--pf-t--global--border--width--box--clicked)
    );
  --_c-card-m-selectable-m-disabled-title-text-color:
    var(
      --pf-v6-c-card--m-selectable--m-disabled__title-text--Color,
      var(--pf-t--global--text--color--on-disabled)
    );
  --_c-card-m-selectable-m-disabled-body-color:
    var(
      --pf-v6-c-card--m-selectable--m-disabled__body--Color,
      var(--pf-t--global--text--color--on-disabled)
    );
  --_c-card-m-selectable-m-disabled-footer-color:
    var(
      --pf-v6-c-card--m-selectable--m-disabled__footer--Color,
      var(--pf-t--global--text--color--on-disabled)
    );
  --_c-card-m-selectable-m-disabled-background-color:
    var(
      --pf-v6-c-card--m-selectable--m-disabled--BackgroundColor,
      var(--pf-t--global--background--color--disabled--default)
    );
  --_c-card-m-selectable-m-disabled-border-color:
    var(
      --pf-v6-c-card--m-selectable--m-disabled--BorderColor,
      transparent
    );
  --_c-card-m-selectable-m-clickable-m-current-border-color:
    var(
      --pf-v6-c-card--m-selectable--m-clickable--m-current--BorderColor,
      var(--pf-t--global--border--color--clicked)
    );
  --_c-card-m-selectable-m-clickable-m-current-border-width:
    var(
      --pf-v6-c-card--m-selectable--m-clickable--m-current--BorderWidth,
      var(--pf-t--global--border--width--box--clicked)
    );
  --_c-card-m-compact-title-text-font-size:
    var(
      --pf-v6-c-card--m-compact__title-text--FontSize,
      var(--pf-t--global--font--size--heading--xs)
    );
  --_c-card-m-compact-body-font-size:
    var(
      --pf-v6-c-card--m-compact__body--FontSize,
      var(--pf-t--global--font--size--body--default)
    );
  --_c-card-m-compact-footer-font-size:
    var(
      --pf-v6-c-card--m-compact__footer--FontSize,
      var(--pf-t--global--font--size--body--sm)
    );
  --_c-card-m-compact-first-child-padding-block-start:
    var(
      --pf-v6-c-card--m-compact--first-child--PaddingBlockStart,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-m-compact-child-padding-inline-end:
    var(
      --pf-v6-c-card--m-compact--child--PaddingInlineEnd,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-m-compact-child-padding-block-end:
    var(
      --pf-v6-c-card--m-compact--child--PaddingBlockEnd,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-m-compact-child-padding-inline-start:
    var(
      --pf-v6-c-card--m-compact--child--PaddingInlineStart,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-m-compact-c-divider-child-padding-block-start:
    var(
      --pf-v6-c-card--m-compact--c-divider--child--PaddingBlockStart,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-m-compact-title-not-last-child-padding-block-end:
    var(
      --pf-v6-c-card--m-compact__title--not--last-child--PaddingBlockEnd,
      var(--pf-t--global--spacer--sm)
    );
  --_c-card-m-display-lg-title-text-font-size:
    var(
      --pf-v6-c-card--m-display-lg__title-text--FontSize,
      var(--pf-t--global--font--size--heading--md)
    );
  --_c-card-m-display-lg-body-font-size:
    var(
      --pf-v6-c-card--m-display-lg__body--FontSize,
      var(--pf-t--global--font--size--body--lg)
    );
  --_c-card-m-display-lg-footer-font-size:
    var(
      --pf-v6-c-card--m-display-lg__footer--FontSize,
      var(--pf-t--global--font--size--body--default)
    );
  --_c-card-m-display-lg-first-child-padding-block-start:
    var(
      --pf-v6-c-card--m-display-lg--first-child--PaddingBlockStart,
      var(--pf-t--global--spacer--xl)
    );
  --_c-card-m-display-lg-child-padding-inline-end:
    var(
      --pf-v6-c-card--m-display-lg--child--PaddingInlineEnd,
      var(--pf-t--global--spacer--xl)
    );
  --_c-card-m-display-lg-child-padding-block-end:
    var(
      --pf-v6-c-card--m-display-lg--child--PaddingBlockEnd,
      var(--pf-t--global--spacer--xl)
    );
  --_c-card-m-display-lg-child-padding-inline-start:
    var(
      --pf-v6-c-card--m-display-lg--child--PaddingInlineStart,
      var(--pf-t--global--spacer--xl)
    );
  --_c-card-m-display-lg-c-divider-child-padding-block-start:
    var(
      --pf-v6-c-card--m-display-lg--c-divider--child--PaddingBlockStart,
      var(--pf-t--global--spacer--xl)
    );
  --_c-card-m-display-lg-title-not-last-child-padding-block-end:
    var(
      --pf-v6-c-card--m-display-lg__title--not--last-child--PaddingBlockEnd,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-m-secondary-background-color:
    var(
      --pf-v6-c-card--m-secondary--BackgroundColor,
      var(--pf-t--global--background--color--secondary--default)
    );
  --_c-card-m-secondary-border-color:
    var(
      --pf-v6-c-card--m-secondary--BorderColor,
      var(--pf-t--global--border--color--high-contrast)
    );
  --_c-card-m-secondary-border-width:
    var(
      --pf-v6-c-card--m-secondary--BorderWidth,
      var(--pf-t--global--border--width--high-contrast--regular)
    );
  --_c-card-m-plain-background-color: var(--pf-v6-c-card--m-plain--BackgroundColor, transparent);
  --_c-card-m-plain-border-color: var(--pf-v6-c-card--m-plain--BorderColor, transparent);
  --_c-card-header-m-toggle-right-toggle-margin-inline-end:
    var(
      --pf-v6-c-card__header--m-toggle-right--toggle--MarginInlineEnd,
      calc(var(--pf-t--global--spacer--action--horizontal--plain--default) * -1)
    );
  --_c-card-header-m-toggle-right-toggle-margin-inline-start:
    var(
      --pf-v6-c-card__header--m-toggle-right--toggle--MarginInlineStart,
      var(--pf-t--global--spacer--gap--text-to-element--default)
    );
  --_c-card-m-full-height-height: var(--pf-v6-c-card--m-full-height--Height, 100%);

  display: flex;
  flex-direction: column;
}

::slotted(hr) {
  margin: 0;
  border: 0;
  border-block-start:
    var(--pf-t--global--border--width--divider--default) solid
    var(--pf-t--global--border--color--default);
}

::slotted(pfv6-card-expandable-content) {
  display: contents;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
  background-color: var(--_c-card-background-color);
  border-radius: var(--_c-card-border-radius);

  &::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border: var(--_c-card-border-color) var(--_c-card-border-style) var(--_c-card-border-width);
    border-radius: inherit;
  }

  &.compact {
    --pf-v6-c-card__title-text--FontSize: var(--_c-card-m-compact-title-text-font-size);
    --pf-v6-c-card__body--FontSize: var(--_c-card-m-compact-body-font-size);
    --pf-v6-c-card__footer--FontSize: var(--_c-card-m-compact-footer-font-size);
    --pf-v6-c-card--first-child--PaddingBlockStart: var(--_c-card-m-compact-first-child-padding-block-start);
    --pf-v6-c-card--child--PaddingInlineEnd: var(--_c-card-m-compact-child-padding-inline-end);
    --pf-v6-c-card--child--PaddingBlockEnd: var(--_c-card-m-compact-child-padding-block-end);
    --pf-v6-c-card--child--PaddingInlineStart: var(--_c-card-m-compact-child-padding-inline-start);
    --pf-v6-c-card--c-divider--child--PaddingBlockStart: var(--_c-card-m-compact-c-divider-child-padding-block-start);
    --pf-v6-c-card__title--not--last-child--PaddingBlockEnd:
      var(
        --_c-card-m-compact-title-not-last-child-padding-block-end
      );
  }

  &.large {
    --pf-v6-c-card__title-text--FontSize: var(--_c-card-m-display-lg-title-text-font-size);
    --pf-v6-c-card__body--FontSize: var(--_c-card-m-display-lg-body-font-size);
    --pf-v6-c-card__footer--FontSize: var(--_c-card-m-display-lg-footer-font-size);
    --pf-v6-c-card--first-child--PaddingBlockStart: var(--_c-card-m-display-lg-first-child-padding-block-start);
    --pf-v6-c-card--child--PaddingInlineEnd: var(--_c-card-m-display-lg-child-padding-inline-end);
    --pf-v6-c-card--child--PaddingBlockEnd: var(--_c-card-m-display-lg-child-padding-block-end);
    --pf-v6-c-card--child--PaddingInlineStart: var(--_c-card-m-display-lg-child-padding-inline-start);
    --pf-v6-c-card--c-divider--child--PaddingBlockStart:
      var(
        --_c-card-m-display-lg-c-divider-child-padding-block-start
      );
    --pf-v6-c-card__title--not--last-child--PaddingBlockEnd:
      var(
        --_c-card-m-display-lg-title-not-last-child-padding-block-end
      );
  }

  &.full-height {
    block-size: var(--_c-card-m-full-height-height);
  }

  &.secondary {
    background-color: var(--_c-card-m-secondary-background-color);

    &::before {
      border-color: var(--_c-card-m-secondary-border-color);
      border-width: var(--_c-card-m-secondary-border-width);
    }
  }

  &.plain {
    background-color: var(--_c-card-m-plain-background-color);

    &::before {
      border-color: var(--_c-card-m-plain-border-color);
    }
  }

  &:not(.expanded) ::slotted(pfv6-card-expandable-content) {
    display: none;
  }

  &.clickable {
    cursor: pointer;
    transition: border-color 0.2s ease;
    outline: none;

    &:hover:not(.disabled) {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-selectable--hover--BorderColor,
          var(--pf-t--global--border--color--hover)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-selectable--hover--BorderWidth,
          var(--pf-t--global--border--width--box--hover)
        );
    }

    &:focus-within:not(.disabled) {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-selectable--focus--BorderColor,
          var(--pf-t--global--border--color--hover)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-selectable--focus--BorderWidth,
          var(--pf-t--global--border--width--box--hover)
        );
    }

    &.current {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-clickable--m-current--BorderColor,
          var(--pf-t--global--border--color--clicked)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-clickable--m-current--BorderWidth,
          var(--pf-t--global--border--width--box--clicked)
        );
    }
  }

  &.selectable {
    cursor: pointer;
    outline: none;

    &:hover:not(.disabled) {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-selectable--hover--BorderColor,
          var(--pf-t--global--border--color--hover)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-selectable--hover--BorderWidth,
          var(--pf-t--global--border--width--box--hover)
        );
    }

    &.selected {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-selectable--m-selected--BorderColor,
          var(--pf-t--global--border--color--clicked)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-selectable--m-selected--BorderWidth,
          var(--pf-t--global--border--width--box--clicked)
        );

      &:focus-within:not(.disabled) {
        --_c-card-border-color:
          var(
            --pf-v6-c-card--m-selectable--m-selected--focus--BorderColor,
            var(--pf-t--global--border--color--clicked)
          );
        --_c-card-border-width:
          var(
            --pf-v6-c-card--m-selectable--m-selected--focus--BorderWidth,
            var(--pf-t--global--border--width--box--clicked)
          );
      }
    }

    &.clickable.current {
      --_c-card-border-color:
        var(
          --pf-v6-c-card--m-selectable--m-clickable--m-current--BorderColor,
          var(--pf-t--global--border--color--clicked)
        );
      --_c-card-border-width:
        var(
          --pf-v6-c-card--m-selectable--m-clickable--m-current--BorderWidth,
          var(--pf-t--global--border--width--box--clicked)
        );
    }
  }

  &.disabled {
    cursor: not-allowed;

    --pf-v6-c-card__title-text--Color: var(--_c-card-m-selectable-m-disabled-title-text-color);
    --pf-v6-c-card__body--Color: var(--_c-card-m-selectable-m-disabled-body-color);
    --pf-v6-c-card__footer--Color: var(--_c-card-m-selectable-m-disabled-footer-color);

    background-color: var(--_c-card-m-selectable-m-disabled-background-color);

    &::before {
      border-color: var(--_c-card-m-selectable-m-disabled-border-color);
    }
  }
}
