:host {
  --_c-card-c-first-child-padding-block-start:
    var(
      --pf-v6-c-card--first-child--PaddingBlockStart,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-title-not-last-child-padding-block-end:
    var(
      --pf-v6-c-card__title--not--last-child--PaddingBlockEnd,
      var(--pf-t--global--spacer--md)
    );
  --_c-card-c-child-padding-inline-start:
    var(
      --pf-v6-c-card--child--PaddingInlineStart,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-child-padding-inline-end:
    var(
      --pf-v6-c-card--child--PaddingInlineEnd,
      var(--pf-t--global--spacer--lg)
    );
  --_c-card-c-title-text-color:
    var(
      --pf-v6-c-card__title-text--Color,
      var(--pf-t--global--text--color--regular)
    );
  --_c-card-c-title-text-font-family:
    var(
      --pf-v6-c-card__title-text--FontFamily,
      var(--pf-t--global--font--family--heading)
    );
  --_c-card-c-title-text-font-size:
    var(
      --pf-v6-c-card__title-text--FontSize,
      var(--pf-t--global--font--size--heading--xs)
    );
  --_c-card-c-title-text-font-weight:
    var(
      --pf-v6-c-card__title-text--FontWeight,
      var(--pf-t--global--font--weight--heading--default)
    );
  --_c-card-c-title-text-line-height:
    var(
      --pf-v6-c-card__title-text--LineHeight,
      var(--pf-t--global--font--line-height--heading)
    );

  display: contents;
}

#container {
  min-inline-size: 0;
  padding-block:
    var(--_c-card-c-divider-child-padding-block-start, var(--_c-card-first-child-padding-block-start, 0))
    var(--_c-card-c-title-not-last-child-padding-block-end);
  padding-inline:
    var(--_c-card-c-child-padding-inline-start)
    var(--_c-card-c-child-padding-inline-end);
}

#title {
  margin: 0;
  padding: 0;
  color: var(--_c-card-c-title-text-color);
  font-family: var(--_c-card-c-title-text-font-family);
  font-size: var(--_c-card-c-title-text-font-size);
  font-weight: var(--_c-card-c-title-text-font-weight);
  line-height: var(--_c-card-c-title-text-line-height);
  overflow-wrap: break-word;
}
