pfv6-card {
  & > pfv6-divider + pfv6-card-header,
  & > pfv6-divider + pfv6-card-title,
  & > pfv6-divider + pfv6-card-body,
  & > pfv6-divider + pfv6-card-footer {
    --_c-card-c-divider-child-padding-block-start: var(--pf-v6-c-card--c-divider--child--PaddingBlockStart);
    --_c-card-first-child-padding-block-start:
      var(
        --pf-v6-c-card--first-child--PaddingBlockStart,
        var(--pf-t--global--spacer--lg)
      );
  }

  & > pfv6-card-title:first-child {
    --_c-card-first-child-padding-block-start:
      var(
        --pf-v6-c-card--first-child--PaddingBlockStart,
        var(--pf-t--global--spacer--lg)
      );
  }

  & > pfv6-card-body:first-child {
    --_c-card-first-child-padding-block-start:
      var(
        --pf-v6-c-card--first-child--PaddingBlockStart,
        var(--pf-t--global--spacer--lg)
      );
  }

  & > pfv6-card-footer:first-child {
    --_c-card-first-child-padding-block-start:
      var(
        --pf-v6-c-card--first-child--PaddingBlockStart,
        var(--pf-t--global--spacer--lg)
      );
  }

  & > pfv6-card-header:first-child {
    --_c-card-first-child-padding-block-start:
      var(
        --pf-v6-c-card--first-child--PaddingBlockStart,
        var(--pf-t--global--spacer--lg)
      );

    & > pfv6-card-title {
      --_c-card-first-child-padding-block-start: 0;
    }
  }
}
