*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(button) {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-t--global--font--line-height--body, 1.5);
  color: var(--pf-t--global--text--color--regular, #151515);
  cursor: pointer;
}

:host {
  display: contents;
}
