*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  /* Public CSS variables (from React) */
  --pf-v6-c-divider--Color: var(--pf-t--global--border--color--default, #c7c7c7);
  --pf-v6-c-divider--Size: var(--pf-t--global--border--width--divider--default, 1px);
  --pf-v6-c-divider--Display: flex;
  --pf-v6-c-divider--before--FlexBasis: 100%;

  display: contents;
}

div {
  /* Default: horizontal orientation */
  display: var(--pf-v6-c-divider--Display, flex);
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  height: var(--pf-v6-c-divider--Size, 1px);
  align-items: stretch;
  align-self: stretch;
  justify-content: center;
  border: 0;

  /* Layout integration - longhand properties used to support partial configuration from parent layouts */
  order: var(--_layout-order);
  max-width: var(--_layout-max-width);
  margin-block: var(--_layout-margin-block-start) var(--_layout-margin-block-end);
  margin-inline: var(--_layout-margin-inline-start) var(--_layout-margin-inline-end);
  grid-column: var(--_layout-grid-column-start) / var(--_layout-grid-column-end);
  min-width: var(--_layout-min-width);
  min-height: var(--_layout-min-height);

  &::before {
    flex-basis: var(--pf-v6-c-divider--before--FlexBasis, 100%);
    content: "";
    background-color: var(--pf-v6-c-divider--Color, #c7c7c7);
    border-block-start: var(--pf-v6-c-divider--Size, 1px) solid transparent;
    border-inline-start: var(--pf-v6-c-divider--Size, 1px) solid transparent;
  }

  /* Orientation modifiers */
  &.horizontal {
    flex-direction: row;
    width: 100%;
    height: var(--pf-v6-c-divider--Size, 1px);
  }

  &.vertical {
    flex-direction: column;
    width: var(--pf-v6-c-divider--Size, 1px);
    height: inherit;
  }

  /* Inset modifiers */
  &.insetNone {
    --pf-v6-c-divider--before--FlexBasis: 100%;
  }

  &.insetXs {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
  }

  &.insetSm {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
  }

  &.insetMd {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
  }

  &.insetLg {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
  }

  &.insetXl {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
  }

  &.inset2xl {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
  }

  &.inset3xl {
    --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
  }

  /* Responsive orientation modifiers */
  @media (width >= 576px) {
    &.horizontal-on-sm {
      flex-direction: row;
      width: 100%;
      height: var(--pf-v6-c-divider--Size, 1px);
    }

    &.vertical-on-sm {
      flex-direction: column;
      width: var(--pf-v6-c-divider--Size, 1px);
      height: inherit;
    }

    &.insetNone-on-sm {
      --pf-v6-c-divider--before--FlexBasis: 100%;
    }

    &.insetXs-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
    }

    &.insetSm-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
    }

    &.insetMd-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
    }

    &.insetLg-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
    }

    &.insetXl-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
    }

    &.inset2xl-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
    }

    &.inset3xl-on-sm {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
    }
  }

  @media (width >= 768px) {
    &.horizontal-on-md {
      flex-direction: row;
      width: 100%;
      height: var(--pf-v6-c-divider--Size, 1px);
    }

    &.vertical-on-md {
      flex-direction: column;
      width: var(--pf-v6-c-divider--Size, 1px);
      height: inherit;
    }

    &.insetNone-on-md {
      --pf-v6-c-divider--before--FlexBasis: 100%;
    }

    &.insetXs-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
    }

    &.insetSm-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
    }

    &.insetMd-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
    }

    &.insetLg-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
    }

    &.insetXl-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
    }

    &.inset2xl-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
    }

    &.inset3xl-on-md {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
    }
  }

  @media (width >= 992px) {
    &.horizontal-on-lg {
      flex-direction: row;
      width: 100%;
      height: var(--pf-v6-c-divider--Size, 1px);
    }

    &.vertical-on-lg {
      flex-direction: column;
      width: var(--pf-v6-c-divider--Size, 1px);
      height: inherit;
    }

    &.insetNone-on-lg {
      --pf-v6-c-divider--before--FlexBasis: 100%;
    }

    &.insetXs-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
    }

    &.insetSm-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
    }

    &.insetMd-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
    }

    &.insetLg-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
    }

    &.insetXl-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
    }

    &.inset2xl-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
    }

    &.inset3xl-on-lg {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
    }
  }

  @media (width >= 1200px) {
    &.horizontal-on-xl {
      flex-direction: row;
      width: 100%;
      height: var(--pf-v6-c-divider--Size, 1px);
    }

    &.vertical-on-xl {
      flex-direction: column;
      width: var(--pf-v6-c-divider--Size, 1px);
      height: inherit;
    }

    &.insetNone-on-xl {
      --pf-v6-c-divider--before--FlexBasis: 100%;
    }

    &.insetXs-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
    }

    &.insetSm-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
    }

    &.insetMd-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
    }

    &.insetLg-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
    }

    &.insetXl-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
    }

    &.inset2xl-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
    }

    &.inset3xl-on-xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
    }
  }

  @media (width >= 1450px) {
    &.horizontal-on-2xl {
      flex-direction: row;
      width: 100%;
      height: var(--pf-v6-c-divider--Size, 1px);
    }

    &.vertical-on-2xl {
      flex-direction: column;
      width: var(--pf-v6-c-divider--Size, 1px);
      height: inherit;
    }

    &.insetNone-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: 100%;
    }

    &.insetXs-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.25rem * 2);
    }

    &.insetSm-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 0.5rem * 2);
    }

    &.insetMd-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1rem * 2);
    }

    &.insetLg-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 1.5rem * 2);
    }

    &.insetXl-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 2rem * 2);
    }

    &.inset2xl-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 3rem * 2);
    }

    &.inset3xl-on-2xl {
      --pf-v6-c-divider--before--FlexBasis: calc(100% - 4rem * 2);
    }
  }
}
