*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

#container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: max-content;
  column-gap: var(--pf-v6-c-drawer__head--ColumnGap);
  padding-block-start: var(--pf-v6-c-drawer__head--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-drawer__head--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-drawer__head--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-drawer__head--PaddingInlineEnd);
}

::slotted(*) {
  grid-column: 1;
}

::slotted(pfv6-drawer-actions) {
  grid-row: 1;
  grid-column: 2;
  align-self: baseline;
  margin-block-start: var(--pf-v6-c-drawer__actions--MarginBlockStart, calc(-1 * var(--pf-t--global--spacer--sm, 0.5rem)));
  margin-inline-end: var(--pf-v6-c-drawer__actions--MarginInlineEnd, calc(-1 * var(--pf-t--global--spacer--sm, 0.5rem)));
}
