*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --pf-v6-c-drawer__section--BackgroundColor: var(--pf-v6-c-drawer__section--m-default--BackgroundColor, var(--pf-t--global--background--color--primary--default, #ffffff));

  display: contents;
}

:host([color-variant="secondary"]) {
  --pf-v6-c-drawer__section--BackgroundColor: var(--pf-v6-c-drawer__section--m-secondary--BackgroundColor, var(--pf-t--global--background--color--secondary--default, #f2f2f2));
}

:host([color-variant="no-background"]) {
  --pf-v6-c-drawer__section--BackgroundColor: transparent;
}

#container {
  flex-grow: 0;
  background-color: var(--pf-v6-c-drawer__section--BackgroundColor);
}
