*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  /* Public CSS API - overrideable from outside */
  --pf-v6-c-skip-to-content--InsetBlockStart: var(--pf-t--global--spacer--md, 1rem);
  --pf-v6-c-skip-to-content--ZIndex: var(--pf-t--global--z-index--2xl, 600);
  --pf-v6-c-skip-to-content--focus--InsetInlineStart: var(--pf-t--global--spacer--md, 1rem);
}

#container {
  position: absolute;
  inset-block-start: var(--pf-v6-c-skip-to-content--InsetBlockStart);
  inset-inline-start: -300%;
  z-index: var(--pf-v6-c-skip-to-content--ZIndex);

  &:focus-within {
    inset-inline-start: var(--pf-v6-c-skip-to-content--focus--InsetInlineStart);
  }
}
