/* stylelint-disable @stylistic/max-line-length -- PatternFly CSS variable names */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(button) {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-t--global--font--line-height--body, 1.5);
  color: var(--pf-t--global--text--color--regular, #151515);
  cursor: pointer;
}

:where(a) {
  color: var(--pf-t--global--text--color--link--default, #0066cc);
  text-decoration-line: var(--pf-t--global--text-decoration--link--line--default, underline);
}

:where(a:hover, a:focus) {
  color: var(--pf-t--global--text--color--link--hover, #004d99);
  text-decoration-line: var(--pf-t--global--text-decoration--link--line--hover, underline);
}

:host {
  /* Public CSS variables - overrideable from outside */
  --pf-v6-c-breadcrumb__item-divider--Color: var(--pf-t--global--icon--color--regular, #1f1f1f);
  --pf-v6-c-breadcrumb__item-divider--MarginInlineEnd: var(--pf-t--global--spacer--sm, 0.5rem);
  --pf-v6-c-breadcrumb__item-divider--FontSize: var(--pf-t--global--font--size--body--sm, 0.75rem);
  --pf-v6-c-breadcrumb__link--PaddingInlineStart: var(--pf-t--global--spacer--sm, 0.5rem);
  --pf-v6-c-breadcrumb__link--PaddingInlineEnd: var(--pf-t--global--spacer--sm, 0.5rem);
  --pf-v6-c-breadcrumb__link--Color: var(--pf-t--global--text--color--link--default, #0066cc);
  --pf-v6-c-breadcrumb__link--TextDecorationLine: var(--pf-t--global--text-decoration--link--line--default, underline);
  --pf-v6-c-breadcrumb__link--TextDecorationStyle: var(--pf-t--global--text-decoration--link--style--default, solid);
  --pf-v6-c-breadcrumb__link--hover--Color: var(--pf-t--global--text--color--link--hover, #004d99);
  --pf-v6-c-breadcrumb__link--hover--TextDecorationLine: var(--pf-t--global--text-decoration--link--line--hover, underline);
  --pf-v6-c-breadcrumb__link--hover--TextDecorationStyle: var(--pf-t--global--text-decoration--link--style--hover, solid);
  --pf-v6-c-breadcrumb__link--m-current--Color: var(--pf-t--global--text--color--regular, #151515);
  --pf-v6-c-breadcrumb__link--BackgroundColor: transparent;
  --pf-v6-c-breadcrumb__menu-toggle--MarginBlockStart: calc(var(--pf-t--global--spacer--control--vertical--default, 0.5rem) * -1);
  --pf-v6-c-breadcrumb__menu-toggle--MarginInlineEnd: var(--pf-t--global--spacer--xs, 0.25rem);
  --pf-v6-c-breadcrumb__menu-toggle--MarginBlockEnd: calc(var(--pf-t--global--spacer--control--vertical--default, 0.5rem) * -1);
  --pf-v6-c-breadcrumb__menu-toggle--MarginInlineStart: var(--pf-t--global--spacer--xs, 0.25rem);

  display: flex;
  align-items: baseline;
  font-size: var(--pf-v6-c-breadcrumb__item--FontSize);
  font-weight: var(--pf-v6-c-breadcrumb__item--FontWeight);
  line-height: var(--pf-v6-c-breadcrumb__item--LineHeight);
  white-space: nowrap;
  list-style: none;
}

#divider {
  margin-inline-end: var(--pf-v6-c-breadcrumb__item-divider--MarginInlineEnd);
  font-size: var(--pf-v6-c-breadcrumb__item-divider--FontSize);
  line-height: 1;
  color: var(--pf-v6-c-breadcrumb__item-divider--Color);

  & svg {
    transform: scaleX(var(--pf-v6-c-breadcrumb__item-divider--ScaleX, 1));
  }

  &:dir(rtl) svg {
    --pf-v6-c-breadcrumb__item-divider--ScaleX: -1;
  }
}

#link {
  padding-inline-start: var(--pf-v6-c-breadcrumb__link--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-breadcrumb__link--PaddingInlineEnd);
  font-size: inherit;
  font-weight: var(--pf-v6-c-breadcrumb__link--FontWeight);
  line-height: inherit;
  color: var(--pf-v6-c-breadcrumb__link--Color);
  text-decoration-line: var(--pf-v6-c-breadcrumb__link--TextDecorationLine);
  text-decoration-style: var(--pf-v6-c-breadcrumb__link--TextDecorationStyle);
  overflow-wrap: break-word;
  background-color: var(--pf-v6-c-breadcrumb__link--BackgroundColor);

  &:is(:hover, :focus) {
    --pf-v6-c-breadcrumb__link--Color: var(--pf-v6-c-breadcrumb__link--hover--Color);
    --pf-v6-c-breadcrumb__link--TextDecorationLine: var(--pf-v6-c-breadcrumb__link--hover--TextDecorationLine);
    --pf-v6-c-breadcrumb__link--TextDecorationStyle: var(--pf-v6-c-breadcrumb__link--hover--TextDecorationStyle);
  }

  &.current {
    cursor: default;

    &,
    &:is(:hover, :focus) {
      color: var(--pf-v6-c-breadcrumb__link--m-current--Color);
      text-decoration-line: none;
    }
  }
}

button#link {
  border: none;
}

#dropdown {
  margin-block-start: var(--pf-v6-c-breadcrumb__menu-toggle--MarginBlockStart);
  margin-block-end: var(--pf-v6-c-breadcrumb__menu-toggle--MarginBlockEnd);
  margin-inline-start: var(--pf-v6-c-breadcrumb__menu-toggle--MarginInlineStart);
  margin-inline-end: var(--pf-v6-c-breadcrumb__menu-toggle--MarginInlineEnd);
}
