*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(button) {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-t--global--font--line-height--body, 1.5);
  color: var(--pf-t--global--text--color--regular, #151515);
  cursor: pointer;
}

:host {
  display: inline-block;
}

#container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
