*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

#container {
  margin-block-end: var(--_empty-state-icon-margin-block-end, var(--pf-t--global--spacer--lg, 1.5rem));
  font-size: var(--_empty-state-icon-font-size, var(--pf-t--global--icon--size--2xl, 3.5rem));
  line-height: 1;
  color: var(--_empty-state-icon-color, var(--pf-t--global--icon--color--subtle, #707070));
}

::slotted(pfv6-icon) {
  --pf-v6-c-icon__content--Color: var(--_empty-state-icon-color, var(--pf-t--global--icon--color--subtle, #707070));
}
