pfv6-flex {
  --pf-v6-l-flex--spacer--column--base: var(--pf-t--global--spacer--gutter--default);
  --pf-v6-l-flex--spacer--row--base: var(--pf-t--global--spacer--sm);
  --pf-v6-l-flex--spacer--column: var(--pf-v6-l-flex--spacer--column--base);
  --pf-v6-l-flex--spacer--row: var(--pf-v6-l-flex--spacer--row--base);
  --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--row--base);
  --pf-v6-l-flex--ColumnGap: 0;
  --pf-v6-l-flex--m-row--AlignItems: baseline;
  --pf-v6-l-flex--m-row-reverse--AlignItems: baseline;
  --pf-v6-l-flex--spacer--none: 0;
  --pf-v6-l-flex--spacer--xs: var(--pf-t--global--spacer--xs);
  --pf-v6-l-flex--spacer--sm: var(--pf-t--global--spacer--sm);
  --pf-v6-l-flex--spacer--md: var(--pf-t--global--spacer--md);
  --pf-v6-l-flex--spacer--lg: var(--pf-t--global--spacer--lg);
  --pf-v6-l-flex--spacer--xl: var(--pf-t--global--spacer--xl);
  --pf-v6-l-flex--spacer--2xl: var(--pf-t--global--spacer--2xl);
  --pf-v6-l-flex--spacer--3xl: var(--pf-t--global--spacer--3xl);
  --pf-v6-l-flex--spacer--4xl: var(--pf-t--global--spacer--4xl);

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--pf-v6-l-flex--RowGap) var(--pf-v6-l-flex--ColumnGap);

  & > * {
    --pf-v6-l-flex--spacer: initial;
    --pf-v6-l-flex--spacer--column: var(--pf-v6-l-flex--spacer, var(--pf-v6-l-flex--spacer--column--base));
    --pf-v6-l-flex--spacer--row: var(--pf-v6-l-flex--spacer, var(--pf-v6-l-flex--spacer--row--base));

    order: var(--pf-v6-l-flex--item--Order, 0);
    max-width: 100%;
    margin-block-end: var(--pf-v6-l-flex--direction--MarginBlockEnd, 0);
    margin-inline:
      var(--pf-v6-l-flex--align--MarginInlineStart, 0)
      var(--pf-v6-l-flex--direction--MarginInlineEnd, var(--pf-v6-l-flex--spacer--column));

    @media (width >= 36rem) {
      order: var(--pf-v6-l-flex--item--Order-on-sm, var(--pf-v6-l-flex--item--Order, 0));
    }

    @media (width >= 48rem) {
      order:
        var(
          --pf-v6-l-flex--item--Order-on-md,
          var(
            --pf-v6-l-flex--item--Order-on-sm,
            var(--pf-v6-l-flex--item--Order, 0)
          )
        );
    }

    @media (width >= 62rem) {
      order:
        var(
          --pf-v6-l-flex--item--Order-on-lg,
          var(
            --pf-v6-l-flex--item--Order-on-md,
            var(
              --pf-v6-l-flex--item--Order-on-sm,
              var(--pf-v6-l-flex--item--Order, 0)
            )
          )
        );
    }

    @media (width >= 75rem) {
      order:
        var(
          --pf-v6-l-flex--item--Order-on-xl,
          var(
            --pf-v6-l-flex--item--Order-on-lg,
            var(
              --pf-v6-l-flex--item--Order-on-md,
              var(
                --pf-v6-l-flex--item--Order-on-sm,
                var(--pf-v6-l-flex--item--Order, 0)
              )
            )
          )
        );
    }

    @media (width >= 90.625rem) {
      order:
        var(
          --pf-v6-l-flex--item--Order-on-2xl,
          var(
            --pf-v6-l-flex--item--Order-on-xl,
            var(
              --pf-v6-l-flex--item--Order-on-lg,
              var(
                --pf-v6-l-flex--item--Order-on-md,
                var(
                  --pf-v6-l-flex--item--Order-on-sm,
                  var(--pf-v6-l-flex--item--Order, 0)
                )
              )
            )
          )
        );
    }

    &:last-child {
      --pf-v6-l-flex--spacer: 0;
    }
  }

  &[spacer~="none"] {
    --pf-v6-l-flex--spacer: 0;
  }

  &[spacer~="xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="sm:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="sm:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="sm:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="sm:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="sm:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="sm:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="sm:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="sm:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="md:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="md:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="md:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="md:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="md:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="md:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="md:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="md:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="lg:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="lg:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="lg:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="lg:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="lg:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="lg:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="lg:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="lg:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="xl:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="xl:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="xl:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="xl:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="xl:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="xl:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="xl:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="xl:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="2xl:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="2xl:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="2xl:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="2xl:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="2xl:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="2xl:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="2xl:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="2xl:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="none"]:last-child {
    --pf-v6-l-flex--spacer: 0;

    margin-inline-end: 0;
  }

  &[spacer~="xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="sm:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="sm:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="sm:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="sm:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="sm:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="sm:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="sm:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="sm:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="md:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="md:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="md:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="md:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="md:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="md:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="md:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="md:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="lg:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="lg:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="lg:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="lg:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="lg:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="lg:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="lg:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="lg:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="xl:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="xl:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="xl:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="xl:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="xl:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="xl:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="xl:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="xl:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="2xl:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="2xl:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="2xl:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="2xl:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="2xl:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="2xl:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="2xl:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="2xl:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[space-items~="none"] > * {
    --pf-v6-l-flex--spacer: 0;
  }

  &[space-items~="xs"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[space-items~="sm"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[space-items~="md"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[space-items~="lg"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[space-items~="xl"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[space-items~="2xl"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[space-items~="3xl"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[space-items~="4xl"] > * {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[gap~="none"] {
    --pf-v6-l-flex--RowGap: 0;
    --pf-v6-l-flex--ColumnGap: 0;
  }

  &[gap~="xs"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--xs);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--xs);
  }

  &[gap~="sm"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--sm);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--sm);
  }

  &[gap~="md"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--md);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--md);
  }

  &[gap~="lg"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--lg);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--lg);
  }

  &[gap~="xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--xl);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--xl);
  }

  &[gap~="2xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--2xl);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[gap~="3xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--3xl);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[gap~="4xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--4xl);
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[gap*="sm:md"] {
    @media (width >= 36rem) {
      --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--md);
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--md);
    }
  }

  &[gap*="md:lg"] {
    @media (width >= 48rem) {
      --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--lg);
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--lg);
    }
  }

  &[gap*="lg:xl"] {
    @media (width >= 62rem) {
      --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--xl);
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--xl);
    }
  }

  &[gap*="xl:2xl"] {
    @media (width >= 75rem) {
      --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--2xl);
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--2xl);
    }
  }

  &[row-gap~="none"] {
    --pf-v6-l-flex--RowGap: 0;
  }

  &[row-gap~="xs"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--xs);
  }

  &[row-gap~="sm"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--sm);
  }

  &[row-gap~="md"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--md);
  }

  &[row-gap~="lg"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--lg);
  }

  &[row-gap~="xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--xl);
  }

  &[row-gap~="2xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[row-gap~="3xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[row-gap~="4xl"] {
    --pf-v6-l-flex--RowGap: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[column-gap~="none"] {
    --pf-v6-l-flex--ColumnGap: 0;
  }

  &[column-gap~="xs"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--xs);
  }

  &[column-gap~="sm"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--sm);
  }

  &[column-gap~="md"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--md);
  }

  &[column-gap~="lg"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--lg);
  }

  &[column-gap~="xl"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--xl);
  }

  &[column-gap~="2xl"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[column-gap~="3xl"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[column-gap~="4xl"] {
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[column-gap] > * {
    --pf-v6-l-flex--spacer--column: 0;
  }

  &[row-gap] > * {
    --pf-v6-l-flex--spacer--row: 0;
  }

  &[gap] > * {
    --pf-v6-l-flex--spacer--row: 0;
    --pf-v6-l-flex--spacer--column: 0;
  }

  &[direction~="column"] {
    --pf-v6-l-flex--RowGap: 0;
    --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

    flex-direction: column;
    align-items: normal;

    & > * {
      margin-block: 0 var(--pf-v6-l-flex--spacer--row);
      margin-inline: 0;
    }
  }

  &[direction~="column-reverse"] {
    flex-direction: column-reverse;
    align-items: normal;

    & > * {
      margin-block: var(--pf-v6-l-flex--spacer--row) 0;
      margin-inline: 0;
    }
  }

  &[direction~="row"] {
    flex-direction: row;
    align-items: var(--pf-v6-l-flex--m-row--AlignItems);

    & > * {
      margin-block: 0;
      margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
    }
  }

  &[direction~="row-reverse"] {
    flex-direction: row-reverse;
    align-items: var(--pf-v6-l-flex--m-row-reverse--AlignItems);

    & > * {
      margin-block: 0;
      margin-inline: var(--pf-v6-l-flex--spacer--column) 0;
    }
  }

  &[direction*="sm:column"] {
    @media (width >= 36rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: column;

      & > * {
        margin-block: 0 var(--pf-v6-l-flex--spacer--row);
        margin-inline: 0;
      }
    }
  }

  &[direction*="sm:row"] {
    @media (width >= 36rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: row;

      & > * {
        margin-block: 0;
        margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
      }
    }
  }

  &[direction*="md:column"] {
    @media (width >= 48rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: column;

      & > * {
        margin-block: 0 var(--pf-v6-l-flex--spacer--row);
        margin-inline: 0;
      }
    }
  }

  &[direction*="md:row"] {
    @media (width >= 48rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: row;

      & > * {
        margin-block: 0;
        margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
      }
    }
  }

  &[direction*="lg:column"] {
    @media (width >= 62rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: column;

      & > * {
        margin-block: 0 var(--pf-v6-l-flex--spacer--row);
        margin-inline: 0;
      }
    }
  }

  &[direction*="lg:row"] {
    @media (width >= 62rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: row;

      & > * {
        margin-block: 0;
        margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
      }
    }
  }

  &[direction*="xl:column"] {
    @media (width >= 75rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: column;

      & > * {
        margin-block: 0 var(--pf-v6-l-flex--spacer--row);
        margin-inline: 0;
      }
    }
  }

  &[direction*="xl:row"] {
    @media (width >= 75rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: row;

      & > * {
        margin-block: 0;
        margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
      }
    }
  }

  &[direction*="2xl:column"] {
    @media (width >= 90.625rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: column;

      & > * {
        margin-block: 0 var(--pf-v6-l-flex--spacer--row);
        margin-inline: 0;
      }
    }
  }

  &[direction*="2xl:row"] {
    @media (width >= 90.625rem) {
      --pf-v6-l-flex--RowGap: 0;
      --pf-v6-l-flex--ColumnGap: var(--pf-v6-l-flex--spacer--column--base);

      flex-direction: row;

      & > * {
        margin-block: 0;
        margin-inline: 0 var(--pf-v6-l-flex--spacer--column);
      }
    }
  }

  &[align-items~="flex-start"] {
    align-items: flex-start;
  }

  &[align-items~="flex-end"] {
    align-items: flex-end;
  }

  &[align-items~="center"] {
    align-items: center;
  }

  &[align-items~="stretch"] {
    align-items: stretch;
  }

  &[align-items~="baseline"] {
    align-items: baseline;
  }

  &[align-content~="flex-start"] {
    align-content: flex-start;
  }

  &[align-content~="flex-end"] {
    align-content: flex-end;
  }

  &[align-content~="center"] {
    align-content: center;
  }

  &[align-content~="stretch"] {
    align-content: stretch;
  }

  &[align-content~="space-between"] {
    align-content: space-between;
  }

  &[align-content~="space-around"] {
    align-content: space-around;
  }

  &[justify-content~="flex-start"] {
    justify-content: flex-start;
  }

  &[justify-content~="flex-end"] {
    justify-content: flex-end;
  }

  &[justify-content~="center"] {
    justify-content: center;
  }

  &[justify-content~="space-between"] {
    justify-content: space-between;
  }

  &[justify-content~="space-around"] {
    justify-content: space-around;
  }

  &[justify-content~="space-evenly"] {
    justify-content: space-evenly;
  }

  &[flex-wrap~="wrap"] {
    flex-wrap: wrap;
  }

  &[flex-wrap~="wrap-reverse"] {
    flex-wrap: wrap-reverse;
  }

  &[flex-wrap~="nowrap"] {
    flex-wrap: nowrap;
  }

  &[display~="inline-flex"] {
    display: inline-flex;
  }

  &[full-width] {
    width: 100%;
  }

  &[grow] {
    flex-grow: 1;
  }

  &[shrink] {
    flex-shrink: 1;
  }

  &[flex~="default"] {
    flex: 1 0 0;
  }

  &[flex~="none"] {
    flex: none;
  }

  &[flex~="1"] {
    flex: 1 0 0;
  }

  &[flex~="2"] {
    flex: 2 0 0;
  }

  &[flex~="3"] {
    flex: 3 0 0;
  }

  &[flex~="4"] {
    flex: 4 0 0;
  }

  &[align-self~="flex-start"] {
    align-self: flex-start;
  }

  &[align-self~="flex-end"] {
    align-self: flex-end;
  }

  &[align-self~="center"] {
    align-self: center;
  }

  &[align-self~="stretch"] {
    align-self: stretch;
  }

  &[align-self~="baseline"] {
    align-self: baseline;
  }

  &[align~="right"] {
    margin-inline-start: auto;
  }

  &[align~="left"] {
    margin-inline-start: 0;
  }

  &[order] {
    order: var(--pf-v6-l-flex--item--Order, 0);
  }
}

pfv6-flex-item {
  &[spacer~="none"] {
    --pf-v6-l-flex--spacer: 0;
  }

  &[spacer~="xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="sm:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="sm:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="sm:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="sm:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="sm:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="sm:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="sm:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="sm:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="md:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="md:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="md:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="md:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="md:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="md:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="md:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="md:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="lg:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="lg:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="lg:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="lg:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="lg:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="lg:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="lg:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="lg:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="xl:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="xl:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="xl:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="xl:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="xl:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="xl:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="xl:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="xl:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="2xl:none"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);
  }

  &[spacer~="2xl:xs"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="2xl:sm"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="2xl:md"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="2xl:lg"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="2xl:xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl:2xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="2xl:3xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="2xl:4xl"] {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="none"]:last-child {
    --pf-v6-l-flex--spacer: 0;

    margin-inline-end: 0;
  }

  &[spacer~="xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="sm:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="sm:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="sm:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="sm:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="sm:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="sm:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="sm:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="sm:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="sm:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="md:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="md:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="md:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="md:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="md:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="md:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="md:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="md:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="md:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="lg:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="lg:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="lg:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="lg:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="lg:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="lg:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="lg:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="lg:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="lg:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="xl:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="xl:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="xl:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="xl:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="xl:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="xl:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="xl:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="xl:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="xl:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[spacer~="2xl:none"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--none);

    margin-inline-end: 0;
  }

  &[spacer~="2xl:xs"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xs);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xs);
  }

  &[spacer~="2xl:sm"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--sm);

    margin-inline-end: var(--pf-v6-l-flex--spacer--sm);
  }

  &[spacer~="2xl:md"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--md);

    margin-inline-end: var(--pf-v6-l-flex--spacer--md);
  }

  &[spacer~="2xl:lg"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--lg);

    margin-inline-end: var(--pf-v6-l-flex--spacer--lg);
  }

  &[spacer~="2xl:xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--xl);
  }

  &[spacer~="2xl:2xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--2xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--2xl);
  }

  &[spacer~="2xl:3xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--3xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--3xl);
  }

  &[spacer~="2xl:4xl"]:last-child {
    --pf-v6-l-flex--spacer: var(--pf-v6-l-flex--spacer--4xl);

    margin-inline-end: var(--pf-v6-l-flex--spacer--4xl);
  }

  &[grow] {
    flex-grow: 1;
  }

  &[shrink] {
    flex-shrink: 1;
  }

  &[flex~="default"] {
    flex: 1 0 0;
  }

  &[flex~="none"] {
    flex: none;
  }

  &[flex~="1"] {
    flex: 1 0 0;
  }

  &[flex~="2"] {
    flex: 2 0 0;
  }

  &[flex~="3"] {
    flex: 3 0 0;
  }

  &[flex~="4"] {
    flex: 4 0 0;
  }

  &[align-self~="flex-start"] {
    align-self: flex-start;
  }

  &[align-self~="flex-end"] {
    align-self: flex-end;
  }

  &[align-self~="center"] {
    align-self: center;
  }

  &[align-self~="stretch"] {
    align-self: stretch;
  }

  &[align-self~="baseline"] {
    align-self: baseline;
  }

  &[align~="right"] {
    margin-inline-start: auto;
  }

  &[align~="left"] {
    margin-inline-start: 0;
  }

  &[full-width] {
    width: 100%;
  }

  &[order] {
    order: var(--pf-v6-l-flex--item--Order, 0);
  }
}
