*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

#container {
  display: flex;
  align-items: center;
  margin-inline-start: var(--pf-v6-c-text-input-group__utilities--MarginInlineStart, 0);
  margin-inline-end: var(--pf-v6-c-text-input-group__utilities--MarginInlineEnd, 0);

  & > ::slotted(*) {
    margin-inline-start: var(--pf-v6-c-text-input-group__utilities--child--MarginInlineStart, 0.25rem);
  }

  & > ::slotted(:first-child) {
    margin-inline-start: 0;
  }
}
