/* Banner link styling - scoped to pfv6-banner */
pfv6-banner {
  & a {
    color: var(--pf-v6-c-banner--link--Color);
    text-decoration-line: var(--pf-v6-c-banner--link--TextDecoration);

    &:hover:not(.pf-m-disabled) {
      color: var(--pf-v6-c-banner--link--hover--Color);
    }

    &.pf-m-disabled {
      color: var(--pf-v6-c-banner--link--disabled--Color);
      cursor: not-allowed;
    }
  }

  /* Support for inline button links (if pfv6-button is used inside) */
  & pfv6-button.pf-m-inline {
    --pf-v6-c-button--m-link--m-inline--Color: var(--pf-v6-c-banner--link--Color);
    --pf-v6-c-button--m-link--m-inline--hover--Color: var(--pf-v6-c-banner--link--hover--Color);
    --pf-v6-c-button--disabled--Color: var(--pf-v6-c-banner--link--disabled--Color);

    text-decoration-line: var(--pf-v6-c-banner--link--TextDecoration);

    &:disabled,
    &.pf-m-disabled {
      cursor: not-allowed;
    }
  }
}
