*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  /* Container sizes - default */
  --pf-v6-c-icon--Width: var(--pf-t--global--icon--size--font--body--default, 1rem);
  --pf-v6-c-icon--Height: var(--pf-t--global--icon--size--font--body--default, 1rem);

  /* Standalone icon sizes */
  --pf-v6-c-icon--m-sm--Width: var(--pf-t--global--icon--size--sm, 0.75rem);
  --pf-v6-c-icon--m-sm--Height: var(--pf-t--global--icon--size--sm, 0.75rem);
  --pf-v6-c-icon--m-md--Width: var(--pf-t--global--icon--size--md, 0.875rem);
  --pf-v6-c-icon--m-md--Height: var(--pf-t--global--icon--size--md, 0.875rem);
  --pf-v6-c-icon--m-lg--Width: var(--pf-t--global--icon--size--lg, 1rem);
  --pf-v6-c-icon--m-lg--Height: var(--pf-t--global--icon--size--lg, 1rem);
  --pf-v6-c-icon--m-xl--Width: var(--pf-t--global--icon--size--xl, 1.5rem);
  --pf-v6-c-icon--m-xl--Height: var(--pf-t--global--icon--size--xl, 1.5rem);
  --pf-v6-c-icon--m-2xl--Width: var(--pf-t--global--icon--size--2xl, 3.5rem);
  --pf-v6-c-icon--m-2xl--Height: var(--pf-t--global--icon--size--2xl, 3.5rem);
  --pf-v6-c-icon--m-3xl--Width: var(--pf-t--global--icon--size--3xl, 6rem);
  --pf-v6-c-icon--m-3xl--Height: var(--pf-t--global--icon--size--3xl, 6rem);

  /* Body sizes */
  --pf-v6-c-icon--m-body-sm--Width: var(--pf-t--global--icon--size--font--body--sm, 0.875rem);
  --pf-v6-c-icon--m-body-sm--Height: var(--pf-t--global--icon--size--font--body--sm, 0.875rem);
  --pf-v6-c-icon--m-body-default--Width: var(--pf-t--global--icon--size--font--body--default, 1rem);
  --pf-v6-c-icon--m-body-default--Height: var(--pf-t--global--icon--size--font--body--default, 1rem);
  --pf-v6-c-icon--m-body-lg--Width: var(--pf-t--global--icon--size--font--body--lg, 1.125rem);
  --pf-v6-c-icon--m-body-lg--Height: var(--pf-t--global--icon--size--font--body--lg, 1.125rem);

  /* Heading sizes */
  --pf-v6-c-icon--m-heading-sm--Width: var(--pf-t--global--icon--size--font--heading--h6, 1.125rem);
  --pf-v6-c-icon--m-heading-sm--Height: var(--pf-t--global--icon--size--font--heading--h6, 1.125rem);
  --pf-v6-c-icon--m-heading-md--Width: var(--pf-t--global--icon--size--font--heading--h5, 1.125rem);
  --pf-v6-c-icon--m-heading-md--Height: var(--pf-t--global--icon--size--font--heading--h5, 1.125rem);
  --pf-v6-c-icon--m-heading-lg--Width: var(--pf-t--global--icon--size--font--heading--h4, 1.125rem);
  --pf-v6-c-icon--m-heading-lg--Height: var(--pf-t--global--icon--size--font--heading--h4, 1.125rem);
  --pf-v6-c-icon--m-heading-xl--Width: var(--pf-t--global--icon--size--font--heading--h3, 1.5rem);
  --pf-v6-c-icon--m-heading-xl--Height: var(--pf-t--global--icon--size--font--heading--h3, 1.5rem);
  --pf-v6-c-icon--m-heading-2xl--Width: var(--pf-t--global--icon--size--font--heading--h2, 1.75rem);
  --pf-v6-c-icon--m-heading-2xl--Height: var(--pf-t--global--icon--size--font--heading--h2, 1.75rem);
  --pf-v6-c-icon--m-heading-3xl--Width: var(--pf-t--global--icon--size--font--heading--h1, 2.25rem);
  --pf-v6-c-icon--m-heading-3xl--Height: var(--pf-t--global--icon--size--font--heading--h1, 2.25rem);

  /* Inline sizes */
  --pf-v6-c-icon--m-inline--Width: 1em;
  --pf-v6-c-icon--m-inline--Height: 1em;

  /* Content */
  --pf-v6-c-icon__content--svg--VerticalAlign: -0.125em;

  /* Content color */
  --pf-v6-c-icon__content--Color: var(--pf-t--global--icon--color--regular, #1f1f1f);
  --pf-v6-c-icon__content--m-danger--Color: var(--pf-t--global--icon--color--status--danger--default, #b1380b);
  --pf-v6-c-icon__content--m-warning--Color: var(--pf-t--global--icon--color--status--warning--default, #dca614);
  --pf-v6-c-icon__content--m-success--Color: var(--pf-t--global--icon--color--status--success--default, #3d7317);
  --pf-v6-c-icon__content--m-info--Color: var(--pf-t--global--icon--color--status--info--default, #5e40be);
  --pf-v6-c-icon__content--m-custom--Color: var(--pf-t--global--icon--color--status--custom--default, #147878);
  --pf-v6-c-icon--m-inline__content--Color: initial;

  /* Content sizes */
  --pf-v6-c-icon__content--FontSize: var(--pf-t--global--icon--size--font--body--default, 1rem);

  /* Standalone content sizes */
  --pf-v6-c-icon--m-sm__content--FontSize: var(--pf-t--global--icon--size--sm, 0.75rem);
  --pf-v6-c-icon--m-md__content--FontSize: var(--pf-t--global--icon--size--md, 0.875rem);
  --pf-v6-c-icon--m-lg__content--FontSize: var(--pf-t--global--icon--size--lg, 1rem);
  --pf-v6-c-icon--m-xl__content--FontSize: var(--pf-t--global--icon--size--xl, 1.5rem);
  --pf-v6-c-icon--m-2xl__content--FontSize: var(--pf-t--global--icon--size--2xl, 3.5rem);
  --pf-v6-c-icon--m-3xl__content--FontSize: var(--pf-t--global--icon--size--3xl, 6rem);

  /* Body content sizes */
  --pf-v6-c-icon--m-body-sm__content--FontSize: var(--pf-t--global--icon--size--font--body--sm, 0.875rem);
  --pf-v6-c-icon--m-body-default__content--FontSize: var(--pf-t--global--icon--size--font--body--default, 1rem);
  --pf-v6-c-icon--m-body-lg__content--FontSize: var(--pf-t--global--icon--size--font--body--lg, 1.125rem);

  /* Heading content sizes */
  --pf-v6-c-icon--m-heading-sm__content--FontSize: var(--pf-t--global--icon--size--font--heading--h6, 1.125rem);
  --pf-v6-c-icon--m-heading-md__content--FontSize: var(--pf-t--global--icon--size--font--heading--h5, 1.125rem);
  --pf-v6-c-icon--m-heading-lg__content--FontSize: var(--pf-t--global--icon--size--font--heading--h4, 1.125rem);
  --pf-v6-c-icon--m-heading-xl__content--FontSize: var(--pf-t--global--icon--size--font--heading--h3, 1.5rem);
  --pf-v6-c-icon--m-heading-2xl__content--FontSize: var(--pf-t--global--icon--size--font--heading--h2, 1.75rem);
  --pf-v6-c-icon--m-heading-3xl__content--FontSize: var(--pf-t--global--icon--size--font--heading--h1, 2.25rem);

  /* Inline sizes */
  --pf-v6-c-icon--m-inline__content--FontSize: 1em;

  display: inline-flex;
}

#container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--pf-v6-c-icon--Width);
  height: var(--pf-v6-c-icon--Height);

  /* Inline modifier */
  &.inline {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-inline--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-inline--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-inline__content--FontSize);
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon--m-inline__content--Color);

    line-height: 1;

    ::slotted(pfv6-spinner) {
      --pf-v6-c-spinner--diameter: 1em;
    }
  }

  /* Standalone size modifiers */
  &.sm {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-sm--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-sm--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-sm__content--FontSize);
  }

  &.md {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-md--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-md--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-md__content--FontSize);
  }

  &.lg {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-lg--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-lg--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-lg__content--FontSize);
  }

  &.xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-xl__content--FontSize);
  }

  &.\32xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-2xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-2xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-2xl__content--FontSize);
  }

  &.\33xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-3xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-3xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-3xl__content--FontSize);
  }

  /* Body size modifiers */
  &.body-sm {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-body-sm--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-body-sm--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-body-sm__content--FontSize);
  }

  &.body-default {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-body-default--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-body-default--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-body-default__content--FontSize);
  }

  &.body-lg {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-body-lg--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-body-lg--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-lg__content--FontSize);
  }

  /* Heading size modifiers */
  &.heading-sm {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-sm--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-sm--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-sm__content--FontSize);
  }

  &.heading-md {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-md--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-md--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-md__content--FontSize);
  }

  &.heading-lg {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-lg--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-lg--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-lg__content--FontSize);
  }

  &.heading-xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-xl__content--FontSize);
  }

  &.heading-2xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-2xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-2xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-2xl__content--FontSize);
  }

  &.heading-3xl {
    --pf-v6-c-icon--Width: var(--pf-v6-c-icon--m-heading-3xl--Width);
    --pf-v6-c-icon--Height: var(--pf-v6-c-icon--m-heading-3xl--Height);
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-3xl__content--FontSize);
  }

  /* Progress modifier */
  &.in-progress {
    --pf-v6-c-icon__content--Opacity: 0;
    --pf-v6-c-icon__progress--Opacity: 1;
  }
}

/* Content and progress both have size modifiers */
#content,
#progress {
  font-size: var(--pf-v6-c-icon__content--FontSize);

  ::slotted(svg) {
    vertical-align: var(--pf-v6-c-icon__content--svg--VerticalAlign);
  }

  /* Standalone font size modifiers */
  &.sm {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-sm__content--FontSize);
  }

  &.md {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-md__content--FontSize);
  }

  &.lg {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-lg__content--FontSize);
  }

  &.xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-xl__content--FontSize);
  }

  &.\32xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-2xl__content--FontSize);
  }

  &.\33xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-3xl__content--FontSize);
  }

  /* Body font size modifiers */
  &.body-sm {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-body-sm__content--FontSize);
  }

  &.body-default {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-md__content--FontSize);
  }

  &.body-lg {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-lg__content--FontSize);
  }

  /* Heading font size modifiers */
  &.heading-sm {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-sm__content--FontSize);
  }

  &.heading-md {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-md__content--FontSize);
  }

  &.heading-lg {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-lg__content--FontSize);
  }

  &.heading-xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-xl__content--FontSize);
  }

  &.heading-2xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-2xl__content--FontSize);
  }

  &.heading-3xl {
    --pf-v6-c-icon__content--FontSize: var(--pf-v6-c-icon--m-heading-3xl__content--FontSize);
  }
}

/* Content element */
#content {
  color: var(--pf-v6-c-icon__content--Color, inherit);
  opacity: var(--pf-v6-c-icon__content--Opacity, 1);

  /* Status modifiers */
  &.danger {
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon__content--m-danger--Color);
  }

  &.warning {
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon__content--m-warning--Color);
  }

  &.success {
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon__content--m-success--Color);
  }

  &.info {
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon__content--m-info--Color);
  }

  &.custom {
    --pf-v6-c-icon__content--Color: var(--pf-v6-c-icon__content--m-custom--Color);
  }

  /* RTL mirror */
  &.mirror-inline-rtl:dir(rtl) {
    scale: -1 1;
  }
}

/* Progress element */
#progress {
  position: absolute;
  inset-block-start: calc(50% + calc(0.5 * var(--pf-v6-c-icon__content--svg--VerticalAlign)));
  opacity: var(--pf-v6-c-icon__progress--Opacity, 0);
  transform: translateY(calc(-50% - calc(0.5 * var(--pf-v6-c-icon__content--svg--VerticalAlign))));
}
