*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --pf-v6-c-helper-text--Gap: var(--pf-t--global--spacer--xs, 0.25rem);
  --pf-v6-c-helper-text--FontSize: var(--pf-t--global--font--size--body--sm, 0.75rem);
}

#container {
  display: grid;
  gap: var(--pf-v6-c-helper-text--Gap);
  font-size: var(--pf-v6-c-helper-text--FontSize);

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}
