/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: contents;
}

#backdrop {
  position: var(--pf-v6-c-backdrop--Position, fixed);
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: var(--pf-v6-c-backdrop--ZIndex, var(--pf-t--global--z-index--lg, 400));
  width: 100%;
  height: 100%;
  background-color: var(--pf-v6-c-backdrop--BackgroundColor, var(--pf-t--global--background--color--backdrop--default, rgba(21, 21, 21, 0.2)));
}
